@inject IPageContextAccessor PageContext

@if (PageContext.HasOrganisation)
{
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    Organisations
                </li>
                <li class="breadcrumb-item">
                    <a asp-page="/Organisation/Details" asp-route-org="@PageContext.Organisation.Name">
                        @PageContext.Organisation.Name
                    </a>
                </li>
                @if (PageContext.HasProject)
                {
                    <li class="breadcrumb-item">
                        Projects
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-page="/Project/Details" asp-route-org="@PageContext.Organisation.Name" asp-route-project="@PageContext.Project.Name">
                            @PageContext.Project.Name
                        </a>
                    </li>
                }
            </ol>
        </nav>
    </div>
}