@model Model
@{
    var org = this.Ctx().OrganisationName;
}
@if (Model.Show)
{
    <div class="btn-group w-25" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @if (Model.CurrentProject != null)
            {
                @Model.CurrentProject.ProjectName
            }
            else
            {
                <span>Select project</span>
            }
        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model.Projects)
            {
                <li>
                    <a class="dropdown-item" asp-page="/Projects/Details" asp-route-org="@org" asp-route-project="@item.ProjectName">@item.ProjectName</a>
                </li>
            }
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" asp-route-org="@org" asp-page="/Projects/Create">Create new...</a>
            </li>
        </ul>
    </div>
}