@page "/org/{org}/projects/{project}/translate/terms/list"
@model Micro.Web.Pages.Translate.Terms.IndexPage

<div class="card mb-2">
    <div class="card-header">
        <span class="float-end">
            Terms: <strong>@Model.Total</strong>
        </span>
        <h5>Terms</h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model.Results)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <span class="float-end">
                        <a asp-page="../Translations/Add"
                           asp-route-org="@Model.RouteOrg"
                           asp-route-project="@Model.RouteProject"
                           asp-route-termId="@item.Id"
                           asp-route-languageCode="en-AU"
                           class="btn btn-primary">
                            Add Translation (en-AU)
                        </a>
                        <a asp-page="../Translations/Add"
                           asp-route-org="@Model.RouteOrg"
                           asp-route-project="@Model.RouteProject"
                           asp-route-termId="@item.Id"
                           asp-route-languageCode="en-UK"
                           class="btn btn-primary me-2">
                            Add Translation (en-UK)
                        </a>
                    </span>
                    <h5 class="card-title">@item.Name</h5>
                </div>
            </div>
        }
    </div>
</div>