@page "/org/{org}/projects/{project}/translate"
@model Micro.Web.Pages.Translate.Index

<div class="card mb-2">
    <div class="card-header">
        <span class="float-end">
            Total Terms: <strong>@Model.Results.TotalTerms</strong>
        </span>
        <h5>Terms</h5>
    </div>
    <div class="card-body">
        <div class="card mb-2">
            <div class="card-body">
                <a asp-page="Terms" class="card-link">View Terms</a>
                <a asp-page="AddTerm" class="btn btn-primary float-end">Add Term</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header">
        <span class="float-end">
            Total Translations: <strong>@Model.Results.TotalTranslations</strong>
        </span>
        <h5>Translation Progress</h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model.Results.Statistics)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        @item.Language.Name @item.Percentage%
                    </h5>
                    <p class="card-text">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: @item.Percentage%"></div>
                        </div>
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-link" asp-page="Translations" asp-route-languagecode="@item.Language.Code">
                        View Translations
                    </a>
                </div>
            </div>
        }
    </div>
</div>