@page "/org/{org}/projects/{project}/translate/translations"
@model Micro.Web.Pages.Translate.Translations

<div class="card mb-2">
    <div class="card-header">
        <span class="float-end">
            Terms: <strong>@Model.Results.TotalTerms</strong>
            Translations: <strong>@Model.Results.TotalTranslations</strong>
        </span>
        <h5>Translation for @Model.Results.LanguageName</h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model.Results.Translations)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        @if (item.TranslationText != null)
                        {
                            <a asp-page="UpdateTranslation"
                               asp-route-org="@Model.RouteOrg"
                               asp-route-project="@Model.RouteProject"
                               asp-route-termId="@item.TermId"
                               asp-route-languageId="@Model.Results.LanguageId"
                               class="btn btn-secondary float-end">
                                Update Translation
                            </a>
                            <a asp-page-handler="RemoveTranslation"
                               asp-route-org="@Model.RouteOrg"
                               asp-route-project="@Model.RouteProject"
                               asp-route-termId="@item.TermId"
                               asp-route-languageId="@Model.Results.LanguageId"
                               class="btn btn-secondary btn-danger float-end me-2">
                                Remove Translation
                            </a>
                        }
                        else
                        {
                            <a asp-page="AddTranslation"
                               asp-route-org="@Model.RouteOrg"
                               asp-route-project="@Model.RouteProject"
                               asp-route-termId="@item.TermId"
                               asp-route-languageId="@Model.LanguageId"
                               class="btn btn-primary float-end">
                                Add Translation
                            </a>
                        }
                        Term: @item.TermName
                    </h5>
                    @if (item.TranslationText == null)
                    {
                        <p class="card-text text-danger">
                            No Translation
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            @item.TranslationText
                        </p>
                    }
                </div>
            </div>
        }
    </div>
</div>